/* style.css */
body{
  background: rgb(245,245,245);
  color: black;
  font-size: 14px;
  font-family: 'Lato', sans-serif;
}
h1{
  font-family: 'Over the Rainbow', cursive;
  color: black;
  font-size: 100px;
  font-weight: lighter;
  margin:25px;
}
h2 {
  font-family: 'Lato', sans-serif;
  color: white;
  background-color: rgb(255,220,99);
  font-weight: lighter;
  font-size: 25px;
  padding: 15px;
  text-align: center;
  border-radius: 4px;
  box-shadow: 0 4px 6px rgba(50,50,93,.11);
}
h3  {
  font-family: 'Lato', sans-serif;
  color: white;
  font-weight: lighter;
  font-size: 25px;
  padding: 15px;
}

h4 {
  font-family: 'Lato', sans-serif;
  color: black;
  font-weight: bolder;
  font-size: 15px;
}

p {
  font-family: 'Lato', sans-serif;
  color: black;
  font-size: 14px;
}

li { 
  list-style-type: circle;
  }

img {
  max-height: 100%;
  width: auto;
}

#banner{
  text-align: center;
  background-image: url(images/ananas.jpg);
  background-size: cover;
  background-position: center;
  padding: 35px;
}

#banner p {
  opacity: 0.8;
  font-size: 16px;
  font-weight: lighter;
}


#contact {
  padding: 10px;
  background: rgba(255,255,255,0.6);
  margin-left: 800px;
  margin-right: 125px;
  margin-top: 50px;
  border-radius: 4px;
  box-shadow: 0 4px 6px rgba(50,50,93,.11);
}

#banner ul{
padding:10px;
}

.image {
  margin-left: auto;
  margin-right: auto;
}

.icone {
font-size: 25px;
padding: 10px;
height: 60px;
}


#banner li {
 list-style-type: none;

}

#banner p {
  color: black;
  padding: 10px;
}
#banner i {
  color: black;
}

#banner i:hover {
  color: rgba(159,184,200);
}

.btn-CV {
  color: white;
  background-color: rgba(159,184,200);
  border-radius: 4px;
  box-shadow: 0 4px 6px rgba(50,50,93,.11);
  padding: 15px;
}

.btn-CV a{
  text-decoration: none;
  color: white;
}


.main-container {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  padding: 0px 20px;
}

.category-container {
  display: flex;
  flex-direction: column;
  flex: 1 1 160px;
  justify-content: space-around;
  margin: 15px;
  background-color: rgba(255,255,255,0.6);
  border-radius: 4px;
  box-shadow: 0 4px 6px rgba(50,50,93,.11);
  text-align: left;
}

.mini-container {
  display: flex;
  flex-wrap: wrap;
  max-height: 300px;
}

.left-container { 
  flex: 0 0 100px;
  padding: 10px;
}

.center-contenair {
flex: 0 0 360px;
padding: 10px;
}

.right-contenair {
  flex: 0 0 170px;
  padding: 10px;
}

.right-contenair img {
  display:block;
  margin:auto;
  padding:10px;
}

.main-container2 {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  padding: 0px 20px;
}

.category-container2 {
  display: flex;
  flex-direction: column;
  flex: 1 1 160px;
  justify-content: space-around;
  margin: 15px;
  background: rgba(255,255,255,0.6);
  border-radius: 4px;
  box-shadow: 0 4px 6px rgba(50,50,93,.11);
  text-align: left;
}

.mini-container2 {
  display: flex;
  flex-wrap: wrap;
  height:70px;
}

.left-container2 { 
  padding: 10px;
  width: 100px;
}

.left-container2 img {
  max-height: 5%;
  width: auto;
}

.center-contenair2 {
padding: 10px;
width: 150px;
}

.right-contenair2 {
  padding: 10px;
}

#footer {
  text-align: center;
  padding: 10px;
  margin: 40px;
  background-color: rgba(159,184,200);
  font-size: 20px;
  color:black;
}

#footer fab fa-linkedin:hover {
    color: rgbargb(255,220,99);
}


